th.actions {
    width: auto;
}

#table-lista-requisicoes {
    th.tipo {
        width: 200px;
    }
    th.produto {
        width: 220px;
    }
    th.quantidade {
        width: 110px;
    }
    th.observacao {
        width: 200px;
    }
}
.btn-block{ margin-top: 2px;}
